openapi: 3.0.1
info:
  description: Complex API configuration
  title: Complex OpenAPI
  version: '1'
servers:
- url: https://api.server1.com/projects
tags:
- name: Health
  description: Ping and health check endpoints
- name: Labels
  description: Label management
- name: Offers
  description: Project management
- name: Vendor
  description: Vendor management
- description: Static file content
  name: Static Files
- name: CORS
  description: CORS configuration endpoints
paths:
  /-/ping:
    get:
      operationId: ping
      description: Ping endpoint
      tags:
      - Health
      responses:
        '200':
          description: Ping
          content: {}
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: foo.com
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                required:
                - statusCode
                - message
                additionalProperties: false
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: Internal Server Error
                  incident:
                    description: Unique incident identifier
                    type: string
                    example: 5beb965c-7ffc-468b-a063-eb47c5b366c2
                    nullable: true
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: foo.com
      parameters:
      - name: host
        in: header
        required: false
        schema:
          type: string
      - name: authorization
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-trace-id
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-parent-id
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-origin
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-sampling-priority
        in: header
        required: false
        schema:
          type: string
      x-amazon-apigateway-integration:
        type: http
        connectionId: 1234567890
        httpMethod: GET
        uri: https://integration.com/-/ping
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        responses:
          default:
            statusCode: '500'
            responseParameters:
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
          '200':
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
        requestParameters:
          integration.request.header.User-Agent: context.identity.userAgent
          integration.request.header.X-Forwarded-For: context.identity.sourceIp
          integration.request.header.X-Stage: context.stage
          integration.request.header.host: method.request.header.host
          integration.request.header.authorization: method.request.header.authorization
          integration.request.header.x-datadog-trace-id: method.request.header.x-datadog-trace-id
          integration.request.header.x-datadog-parent-id: method.request.header.x-datadog-parent-id
          integration.request.header.x-datadog-origin: method.request.header.x-datadog-origin
          integration.request.header.x-datadog-sampling-priority: method.request.header.x-datadog-sampling-priority
    options:
      operationId: /-/pingCORS
      description: /-/ping CORS
      tags:
      - CORS
      responses:
        '200':
          description: '200'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: foo.com
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: GET,OPTIONS
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: authorization,host,x-datadog-origin,x-datadog-parent-id,x-datadog-sampling-priority,x-datadog-trace-id
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''GET,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''authorization,host,x-datadog-origin,x-datadog-parent-id,x-datadog-sampling-priority,x-datadog-trace-id'''
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
  /-/health:
    get:
      operationId: health
      description: Health check endpoint
      tags:
      - Health
      security:
      - authorizer-foobar: []
      responses:
        '200':
          description: health
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: foo.com
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                required:
                - statusCode
                - message
                additionalProperties: false
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: Internal Server Error
                  incident:
                    description: Unique incident identifier
                    type: string
                    example: 5beb965c-7ffc-468b-a063-eb47c5b366c2
                    nullable: true
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: foo.com
      parameters:
      - name: host
        in: header
        required: false
        schema:
          type: string
      - name: authorization
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-trace-id
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-parent-id
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-origin
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-sampling-priority
        in: header
        required: false
        schema:
          type: string
      x-amazon-apigateway-integration:
        type: http
        connectionId: 1234567890
        httpMethod: GET
        uri: https://integration.com/-/health
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        responses:
          default:
            statusCode: '500'
            responseParameters:
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
          '200':
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
        requestParameters:
          integration.request.header.User-Agent: context.identity.userAgent
          integration.request.header.X-Forwarded-For: context.identity.sourceIp
          integration.request.header.X-Stage: context.stage
          integration.request.header.host: method.request.header.host
          integration.request.header.authorization: method.request.header.authorization
          integration.request.header.x-datadog-trace-id: method.request.header.x-datadog-trace-id
          integration.request.header.x-datadog-parent-id: method.request.header.x-datadog-parent-id
          integration.request.header.x-datadog-origin: method.request.header.x-datadog-origin
          integration.request.header.x-datadog-sampling-priority: method.request.header.x-datadog-sampling-priority
    options:
      operationId: /-/healthCORS
      description: /-/health CORS
      tags:
      - CORS
      responses:
        '200':
          description: '200'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: foo.com
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: GET,OPTIONS
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: authorization,host,x-datadog-origin,x-datadog-parent-id,x-datadog-sampling-priority,x-datadog-trace-id
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''GET,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''authorization,host,x-datadog-origin,x-datadog-parent-id,x-datadog-sampling-priority,x-datadog-trace-id'''
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
  /v1/labels:
    get:
      description: List all labels
      operationId: listLabels
      tags:
      - Labels
      parameters:
      - name: limit
        in: query
        description: Maximum number of items to fetch
        required: false
        schema:
          default: 50
          type: integer
          minimum: 1
          maximum: 1000
      - name: offset
        in: query
        description: number of items to skip, used for pagination
        required: false
        schema:
          default: 0
          type: integer
          minimum: 0
      - name: foobar
        in: query
        description: Customer name that should be added/shown
        required: false
        schema:
          type: array
          items:
            type: string
      - name: host
        in: header
        required: false
        schema:
          type: string
      - name: authorization
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-trace-id
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-parent-id
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-origin
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-sampling-priority
        in: header
        required: false
        schema:
          type: string
      security:
      - authorizer-foobar: []
      responses:
        '200':
          description: Labels List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelList'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: foo.com
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - statusCode
                - message
                additionalProperties: false
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: Bad Request
                  incident:
                    description: Unique incident identifier
                    type: string
                    example: 5beb965c-7ffc-468b-a063-eb47c5b366c2
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: foo.com
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                required:
                - statusCode
                - message
                additionalProperties: false
                properties:
                  statusCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: Not Found
                  error:
                    type: string
                    example: Not Found
                  incident:
                    description: Unique incident identifier
                    type: string
                    example: 5beb965c-7ffc-468b-a063-eb47c5b366c2
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: foo.com
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                required:
                - statusCode
                - message
                additionalProperties: false
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: Internal Server Error
                  incident:
                    description: Unique incident identifier
                    type: string
                    example: 5beb965c-7ffc-468b-a063-eb47c5b366c2
                    nullable: true
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: foo.com
      x-amazon-apigateway-integration:
        type: http
        connectionId: 1234567890
        httpMethod: GET
        uri: https://integration.com/v1/labels
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        responses:
          default:
            statusCode: '500'
            responseParameters:
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
          '200':
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
          '400':
            statusCode: '400'
            responseParameters:
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
          '404':
            statusCode: '404'
            responseParameters:
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
        requestParameters:
          integration.request.header.User-Agent: context.identity.userAgent
          integration.request.header.X-Forwarded-For: context.identity.sourceIp
          integration.request.header.X-Stage: context.stage
          integration.request.querystring.limit: method.request.querystring.limit
          integration.request.querystring.offset: method.request.querystring.offset
          integration.request.querystring.foobar: method.request.multivaluequerystring.foobar
          integration.request.header.host: method.request.header.host
          integration.request.header.authorization: method.request.header.authorization
          integration.request.header.x-datadog-trace-id: method.request.header.x-datadog-trace-id
          integration.request.header.x-datadog-parent-id: method.request.header.x-datadog-parent-id
          integration.request.header.x-datadog-origin: method.request.header.x-datadog-origin
          integration.request.header.x-datadog-sampling-priority: method.request.header.x-datadog-sampling-priority
    options:
      operationId: /v1/labelsCORS
      description: /v1/labels CORS
      tags:
      - CORS
      responses:
        '200':
          description: '200'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: foo.com
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: GET,OPTIONS
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: authorization,host,x-datadog-origin,x-datadog-parent-id,x-datadog-sampling-priority,x-datadog-trace-id
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''GET,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''authorization,host,x-datadog-origin,x-datadog-parent-id,x-datadog-sampling-priority,x-datadog-trace-id'''
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
  /v1/vendors/{vendorId}/offers:
    get:
      description: Get all offers of the vendor
      operationId: listOffers
      tags:
      - Offers
      - Vendor
      parameters:
      - name: vendorId
        in: path
        description: ID of the vendor
        required: true
        schema:
          type: string
          minLength: 1
      - name: limit
        in: query
        description: Maximum number of items to fetch
        required: false
        schema:
          default: 50
          type: integer
          minimum: 1
          maximum: 1000
      - name: offset
        in: query
        description: number of items to skip, used for pagination
        required: false
        schema:
          default: 0
          type: integer
          minimum: 0
      - name: host
        in: header
        required: false
        schema:
          type: string
      - name: authorization
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-trace-id
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-parent-id
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-origin
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-sampling-priority
        in: header
        required: false
        schema:
          type: string
      security:
      - authorizer-foobar: []
      responses:
        '200':
          description: Offer List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferList'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: foo.com
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - statusCode
                - message
                additionalProperties: false
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: Bad Request
                  incident:
                    description: Unique incident identifier
                    type: string
                    example: 5beb965c-7ffc-468b-a063-eb47c5b366c2
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: foo.com
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                required:
                - statusCode
                - message
                additionalProperties: false
                properties:
                  statusCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: Not Found
                  error:
                    type: string
                    example: Not Found
                  incident:
                    description: Unique incident identifier
                    type: string
                    example: 5beb965c-7ffc-468b-a063-eb47c5b366c2
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: foo.com
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                required:
                - statusCode
                - message
                additionalProperties: false
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: Internal Server Error
                  incident:
                    description: Unique incident identifier
                    type: string
                    example: 5beb965c-7ffc-468b-a063-eb47c5b366c2
                    nullable: true
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: foo.com
      x-amazon-apigateway-integration:
        type: http
        connectionId: 1234567890
        httpMethod: GET
        uri: https://integration.com/v1/vendors/{vendorId}/offers
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        responses:
          default:
            statusCode: '500'
            responseParameters:
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
          '200':
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
          '400':
            statusCode: '400'
            responseParameters:
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
          '404':
            statusCode: '404'
            responseParameters:
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
        requestParameters:
          integration.request.header.User-Agent: context.identity.userAgent
          integration.request.header.X-Forwarded-For: context.identity.sourceIp
          integration.request.header.X-Stage: context.stage
          integration.request.path.vendorId: method.request.path.vendorId
          integration.request.querystring.limit: method.request.querystring.limit
          integration.request.querystring.offset: method.request.querystring.offset
          integration.request.header.host: method.request.header.host
          integration.request.header.authorization: method.request.header.authorization
          integration.request.header.x-datadog-trace-id: method.request.header.x-datadog-trace-id
          integration.request.header.x-datadog-parent-id: method.request.header.x-datadog-parent-id
          integration.request.header.x-datadog-origin: method.request.header.x-datadog-origin
          integration.request.header.x-datadog-sampling-priority: method.request.header.x-datadog-sampling-priority
    options:
      operationId: /v1/vendors/{vendorId}/offersCORS
      description: /v1/vendors/{vendorId}/offers CORS
      tags:
      - CORS
      responses:
        '200':
          description: '200'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: foo.com
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: GET,OPTIONS
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: authorization,host,x-datadog-origin,x-datadog-parent-id,x-datadog-sampling-priority,x-datadog-trace-id
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''GET,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''authorization,host,x-datadog-origin,x-datadog-parent-id,x-datadog-sampling-priority,x-datadog-trace-id'''
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
      parameters:
      - name: vendorId
        in: path
        description: ID of the vendor
        required: true
        schema:
          type: string
          minLength: 1
  /v1/vendors/{vendorId}/offers/{offerId}:
    get:
      description: Get a specific offer of the vendor
      operationId: getOffer
      tags:
      - Offers
      - Vendor
      parameters:
      - name: vendorId
        in: path
        description: ID of the vendor
        required: true
        schema:
          type: string
          minLength: 1
      - name: offerId
        in: path
        description: ID of the offer
        required: true
        schema:
          type: string
          format: uuid
      - name: host
        in: header
        required: false
        schema:
          type: string
      - name: authorization
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-trace-id
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-parent-id
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-origin
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-sampling-priority
        in: header
        required: false
        schema:
          type: string
      security:
      - authorizer-foobar: []
      responses:
        '200':
          description: Get Offer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: foo.com
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                - statusCode
                - message
                additionalProperties: false
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: Bad Request
                  incident:
                    description: Unique incident identifier
                    type: string
                    example: 5beb965c-7ffc-468b-a063-eb47c5b366c2
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: foo.com
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                required:
                - statusCode
                - message
                additionalProperties: false
                properties:
                  statusCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: Not Found
                  error:
                    type: string
                    example: Not Found
                  incident:
                    description: Unique incident identifier
                    type: string
                    example: 5beb965c-7ffc-468b-a063-eb47c5b366c2
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: foo.com
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                required:
                - statusCode
                - message
                additionalProperties: false
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: Internal Server Error
                  incident:
                    description: Unique incident identifier
                    type: string
                    example: 5beb965c-7ffc-468b-a063-eb47c5b366c2
                    nullable: true
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: foo.com
      x-amazon-apigateway-integration:
        type: http
        connectionId: 1234567890
        httpMethod: GET
        uri: https://integration.com/v1/vendors/{vendorId}/offers/{offerId}
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        responses:
          default:
            statusCode: '500'
            responseParameters:
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
          '200':
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
          '400':
            statusCode: '400'
            responseParameters:
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
          '404':
            statusCode: '404'
            responseParameters:
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
        requestParameters:
          integration.request.header.User-Agent: context.identity.userAgent
          integration.request.header.X-Forwarded-For: context.identity.sourceIp
          integration.request.header.X-Stage: context.stage
          integration.request.path.vendorId: method.request.path.vendorId
          integration.request.path.offerId: method.request.path.offerId
          integration.request.header.host: method.request.header.host
          integration.request.header.authorization: method.request.header.authorization
          integration.request.header.x-datadog-trace-id: method.request.header.x-datadog-trace-id
          integration.request.header.x-datadog-parent-id: method.request.header.x-datadog-parent-id
          integration.request.header.x-datadog-origin: method.request.header.x-datadog-origin
          integration.request.header.x-datadog-sampling-priority: method.request.header.x-datadog-sampling-priority
    options:
      operationId: /v1/vendors/{vendorId}/offers/{offerId}CORS
      description: /v1/vendors/{vendorId}/offers/{offerId} CORS
      tags:
      - CORS
      responses:
        '200':
          description: '200'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: foo.com
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: GET,OPTIONS
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: authorization,host,x-datadog-origin,x-datadog-parent-id,x-datadog-sampling-priority,x-datadog-trace-id
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''GET,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''authorization,host,x-datadog-origin,x-datadog-parent-id,x-datadog-sampling-priority,x-datadog-trace-id'''
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
      parameters:
      - name: vendorId
        in: path
        description: ID of the vendor
        required: true
        schema:
          type: string
          minLength: 1
      - name: offerId
        in: path
        description: ID of the offer
        required: true
        schema:
          type: string
          format: uuid
  /api.v1.yml:
    get:
      tags:
      - Static Files
      responses:
        '200':
          description: Static file api.v1.yml
          headers:
            Content-Type:
              schema:
                example: text/yaml
                type: string
            Access-Control-Expose-Headers:
              schema:
                type: string
                example: Content-Type
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: foo.com
      parameters:
      - name: host
        in: header
        required: false
        schema:
          type: string
      - name: authorization
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-trace-id
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-parent-id
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-origin
        in: header
        required: false
        schema:
          type: string
      - name: x-datadog-sampling-priority
        in: header
        required: false
        schema:
          type: string
      x-amazon-apigateway-integration:
        type: http
        connectionId: 1234567890
        httpMethod: GET
        uri: https://integration.com/api.v1.yml
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
        responses:
          default:
            statusCode: '500'
            responseParameters:
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
          '200':
            statusCode: '200'
            responseParameters:
              method.response.header.Content-Type: integration.response.header.Content-Type
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
              method.response.header.Access-Control-Expose-Headers: '''Content-Type'''
        requestParameters:
          integration.request.header.User-Agent: context.identity.userAgent
          integration.request.header.X-Forwarded-For: context.identity.sourceIp
          integration.request.header.X-Stage: context.stage
          integration.request.header.host: method.request.header.host
          integration.request.header.authorization: method.request.header.authorization
          integration.request.header.x-datadog-trace-id: method.request.header.x-datadog-trace-id
          integration.request.header.x-datadog-parent-id: method.request.header.x-datadog-parent-id
          integration.request.header.x-datadog-origin: method.request.header.x-datadog-origin
          integration.request.header.x-datadog-sampling-priority: method.request.header.x-datadog-sampling-priority
    options:
      operationId: /api.v1.ymlCORS
      description: /api.v1.yml CORS
      tags:
      - CORS
      responses:
        '200':
          description: '200'
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: foo.com
            Access-Control-Allow-Methods:
              schema:
                type: string
                example: GET,OPTIONS
            Access-Control-Allow-Headers:
              schema:
                type: string
                example: authorization,host,x-datadog-origin,x-datadog-parent-id,x-datadog-sampling-priority,x-datadog-trace-id
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: '200'
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: '''GET,OPTIONS'''
              method.response.header.Access-Control-Allow-Headers: '''authorization,host,x-datadog-origin,x-datadog-parent-id,x-datadog-sampling-priority,x-datadog-trace-id'''
              method.response.header.Access-Control-Allow-Origin: '''foo.com'''
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
        type: mock
components:
  schemas:
    Health:
      type: object
      additionalProperties: false
      properties:
        application:
          type: object
          additionalProperties: false
          properties:
            datetime:
              type: string
              format: date-time
              description: Current date and time of the server
            name:
              type: string
              description: Name of the application
            environment:
              type: string
              description: Name of the environment the app is running in
            uptime:
              type: string
              description: Duration of how long the app is running
            startup:
              type: string
              format: date-time
              description: Date and time when the application started
            hostname:
              type: string
              description: Hostname of the application host or container
            version:
              type: string
              description: Current release version
          required:
          - datetime
          - name
          - environment
          - uptime
          - startup
          - hostname
          - version
      required:
      - application
    LabelList:
      type: object
      additionalProperties: false
      properties:
        _embedded:
          type: object
          additionalProperties: false
          properties:
            label:
              type: array
              items:
                type: object
                additionalProperties: false
                required:
                - slug
                - name
                - color
                properties:
                  slug:
                    type: string
                    readOnly: true
                    example: lorem-ipsum
                    description: Alphanumeric version of the label without spaces
                      or special chars.
                  name:
                    type: string
                    example: Lorem Ipsum
                    description: Human readable name
                  color:
                    type: string
                    description: Color of the label
                    enum:
                    - red
                    - green
                    - blue
                  _links:
                    type: object
                    readOnly: true
                    properties:
                      self:
                        type: object
                        additionalProperties: false
                        properties:
                          href:
                            type: string
                            example: https://api.server.com/v1/projects/5d4470a6-121b-40d2-aff9-00f24aa4a110
                        required:
                        - href
                    additionalProperties: false
          required:
          - label
        _meta:
          type: object
          additionalProperties: false
          properties:
            count:
              description: Number of fetched items
              type: integer
              default: 10
            total:
              description: Total number of items available in the list
              type: integer
              default: 15
            limit:
              description: Maximum number of items to fetch
              type: integer
              default: 50
            offset:
              description: Number if items skipped (for pagination)
              type: integer
              default: 0
          required:
          - count
          - total
          - limit
          - offset
        _links:
          type: object
          readOnly: true
          properties:
            self:
              type: object
              additionalProperties: false
              properties:
                href:
                  type: string
                  example: https://api.server.com/v1/projects/5d4470a6-121b-40d2-aff9-00f24aa4a110
              required:
              - href
          additionalProperties: false
      required:
      - _embedded
      - _meta
      - _links
    OfferList:
      type: object
      additionalProperties: false
      properties:
        _embedded:
          type: object
          additionalProperties: false
          properties:
            offer:
              type: array
              items:
                type: object
                required:
                - offerId
                - projectId
                - vendorId
                - attachments
                - comment
                - state
                - stateTransitions
                - _meta
                - _links
                - _embedded
                additionalProperties: false
                properties:
                  offerId:
                    type: string
                    format: uuid
                  projectId:
                    type: string
                    format: uuid
                  vendorId:
                    type: string
                    format: uuid
                  attachments:
                    type: array
                    description: Array of file attachments
                    items:
                      type: object
                      nullable: true
                      description: File attachment details
                      additionalProperties: false
                      properties:
                        name:
                          type: string
                          description: Human readable file name
                          example: example.pdf
                        path:
                          type: string
                          description: Relative file path of the attachment
                          example: /vendors/1234567890/some.pdf
                        uploadedAt:
                          type: string
                          format: date-time
                          description: Date and time of when the attachment was uploaded
                        uploadedBy:
                          type: string
                          format: uuid
                      required:
                      - name
                      - path
                      - uploadedAt
                      - uploadedBy
                  comment:
                    type: string
                    nullable: true
                    example: User generated info about the offer
                  state:
                    type: string
                    description: The current state of the offer
                    readOnly: true
                    enum:
                    - draft
                    - submitted
                  stateTransitions:
                    type: array
                    readOnly: true
                    items:
                      type: object
                      readOnly: true
                      required:
                      - originalState
                      - targetState
                      - transitionedAt
                      - transitionedBy
                      - comment
                      additionalProperties: false
                      properties:
                        originalState:
                          type: string
                          example: state1
                        targetState:
                          type: string
                          example: state2
                        transitionedAt:
                          type: string
                          format: date-time
                        transitionedBy:
                          type: string
                          format: uuid
                        comment:
                          type: string
                          nullable: true
                          example: Additional user generated info about the transition
                  _meta:
                    type: object
                    readOnly: true
                    required:
                    - createdAt
                    - createdBy
                    - modifiedAt
                    - modifiedBy
                    - revisionedAt
                    - revisionedBy
                    - archivedAt
                    - archivedBy
                    - _links
                    additionalProperties: false
                    properties:
                      createdAt:
                        type: string
                        format: date-time
                        nullable: true
                      createdBy:
                        type: string
                        format: uuid
                      modifiedAt:
                        type: string
                        format: date-time
                        nullable: true
                      modifiedBy:
                        type: string
                        format: uuid
                      revisionedAt:
                        type: string
                        format: date-time
                        nullable: true
                      revisionedBy:
                        type: string
                        format: uuid
                      archivedAt:
                        type: string
                        format: date-time
                        nullable: true
                      archivedBy:
                        type: string
                        format: uuid
                      _links:
                        type: object
                        readOnly: true
                        properties:
                          self:
                            type: object
                            additionalProperties: false
                            properties:
                              href:
                                type: string
                                example: https://api.server.com/v1/projects/5d4470a6-121b-40d2-aff9-00f24aa4a110
                            required:
                            - href
                        additionalProperties: false
                  _links:
                    type: object
                    readOnly: true
                    properties:
                      self:
                        type: object
                        additionalProperties: false
                        properties:
                          href:
                            type: string
                            example: https://api.server.com/v1/projects/5d4470a6-121b-40d2-aff9-00f24aa4a110
                        required:
                        - href
                    additionalProperties: false
                  _embedded:
                    type: object
                    required:
                    - project
                    additionalProperties: false
                    properties:
                      project:
                        type: array
                        minItems: 1
                        items:
                          type: object
                          additionalProperties: false
                          properties:
                            projectId:
                              type: string
                              format: uuid
                            customerId:
                              type: string
                              format: uuid
                            attachments:
                              type: array
                              description: Array of file attachments
                              items:
                                type: object
                                nullable: true
                                description: File attachment details
                                additionalProperties: false
                                properties:
                                  name:
                                    type: string
                                    description: Human readable file name
                                    example: example.pdf
                                  path:
                                    type: string
                                    description: Relative file path of the attachment
                                    example: /vendors/1234567890/some.pdf
                                  uploadedAt:
                                    type: string
                                    format: date-time
                                    description: Date and time of when the attachment
                                      was uploaded
                                  uploadedBy:
                                    type: string
                                    format: uuid
                                required:
                                - name
                                - path
                                - uploadedAt
                                - uploadedBy
                            company:
                              type: object
                              additionalProperties: false
                              properties:
                                name:
                                  description: name of the company
                                  type: string
                                  example: Company AY
                                email:
                                  description: primary contact email of the company
                                  type: string
                                  example: mail@server.com
                                phoneNumber:
                                  description: primary contact phone number of the
                                    company
                                  type: string
                                  example: +49 (30) 1234567890
                                  nullable: true
                                deliveryAddress:
                                  type: object
                                  additionalProperties: false
                                  properties:
                                    streetAddress:
                                      description: Full street address component,
                                        which MAY include house number, street name,
                                        Post Office Box, and multi-line extended street
                                        address information.
                                      type: string
                                      example: My Street 123
                                      nullable: true
                                    postalCode:
                                      description: Zip code or postal code component.
                                      type: string
                                      minLength: 1
                                      example: '10119'
                                    locality:
                                      description: City or locality component.
                                      type: string
                                      example: Berlin
                                      nullable: true
                                    region:
                                      description: State, province, prefecture, or
                                        region component.
                                      type: string
                                      example: Berlin
                                      nullable: true
                                    country:
                                      description: Country name component.
                                      type: string
                                      minLength: 1
                                      maxLength: 2
                                      example: de
                                  required:
                                  - streetAddress
                                  - postalCode
                                  - locality
                                  - region
                                  - country
                              required:
                              - name
                              - email
                              - phoneNumber
                              - deliveryAddress
                            description:
                              type: string
                              example: This is an example project
                              description: A human readable project description
                              nullable: true
                            title:
                              type: string
                              example: Example project
                              description: A custom, human readable project title
                            state:
                              type: string
                              description: The current state of the project
                              readOnly: true
                              enum:
                              - new
                              - active
                              - done
                            stateTransitions:
                              type: array
                              readOnly: true
                              items:
                                type: object
                                readOnly: true
                                required:
                                - originalState
                                - targetState
                                - transitionedAt
                                - transitionedBy
                                - comment
                                additionalProperties: false
                                properties:
                                  originalState:
                                    type: string
                                    example: state1
                                  targetState:
                                    type: string
                                    example: state2
                                  transitionedAt:
                                    type: string
                                    format: date-time
                                  transitionedBy:
                                    type: string
                                    format: uuid
                                  comment:
                                    type: string
                                    nullable: true
                                    example: Additional user generated info about
                                      the transition
                            _meta:
                              type: object
                              readOnly: true
                              required:
                              - createdAt
                              - createdBy
                              - modifiedAt
                              - modifiedBy
                              - revisionedAt
                              - revisionedBy
                              - archivedAt
                              - archivedBy
                              - _links
                              additionalProperties: false
                              properties:
                                createdAt:
                                  type: string
                                  format: date-time
                                  nullable: true
                                createdBy:
                                  type: string
                                  format: uuid
                                modifiedAt:
                                  type: string
                                  format: date-time
                                  nullable: true
                                modifiedBy:
                                  type: string
                                  format: uuid
                                revisionedAt:
                                  type: string
                                  format: date-time
                                  nullable: true
                                revisionedBy:
                                  type: string
                                  format: uuid
                                archivedAt:
                                  type: string
                                  format: date-time
                                  nullable: true
                                archivedBy:
                                  type: string
                                  format: uuid
                                _links:
                                  type: object
                                  readOnly: true
                                  properties:
                                    self:
                                      type: object
                                      additionalProperties: false
                                      properties:
                                        href:
                                          type: string
                                          example: https://api.server.com/v1/projects/5d4470a6-121b-40d2-aff9-00f24aa4a110
                                      required:
                                      - href
                                  additionalProperties: false
                            _links:
                              type: object
                              readOnly: true
                              properties:
                                self:
                                  type: object
                                  additionalProperties: false
                                  properties:
                                    href:
                                      type: string
                                      example: https://api.server.com/v1/projects/5d4470a6-121b-40d2-aff9-00f24aa4a110
                                  required:
                                  - href
                              additionalProperties: false
                          required:
                          - projectId
                          - customerId
                          - attachments
                          - company
                          - description
                          - title
                          - state
                          - stateTransitions
                          - _meta
                          - _links
          required:
          - offer
        _meta:
          type: object
          additionalProperties: false
          properties:
            count:
              description: Number of fetched items
              type: integer
              default: 10
            total:
              description: Total number of items available in the list
              type: integer
              default: 15
            limit:
              description: Maximum number of items to fetch
              type: integer
              default: 50
            offset:
              description: Number if items skipped (for pagination)
              type: integer
              default: 0
          required:
          - count
          - total
          - limit
          - offset
        _links:
          type: object
          readOnly: true
          properties:
            self:
              type: object
              additionalProperties: false
              properties:
                href:
                  type: string
                  example: https://api.server.com/v1/projects/5d4470a6-121b-40d2-aff9-00f24aa4a110
              required:
              - href
          additionalProperties: false
      required:
      - _embedded
      - _meta
      - _links
    Offer:
      type: object
      required:
      - offerId
      - projectId
      - vendorId
      - attachments
      - comment
      - state
      - stateTransitions
      - _meta
      - _links
      - _embedded
      additionalProperties: false
      properties:
        offerId:
          type: string
          format: uuid
        projectId:
          type: string
          format: uuid
        vendorId:
          type: string
          format: uuid
        attachments:
          type: array
          description: Array of file attachments
          items:
            type: object
            nullable: true
            description: File attachment details
            additionalProperties: false
            properties:
              name:
                type: string
                description: Human readable file name
                example: example.pdf
              path:
                type: string
                description: Relative file path of the attachment
                example: /vendors/1234567890/some.pdf
              uploadedAt:
                type: string
                format: date-time
                description: Date and time of when the attachment was uploaded
              uploadedBy:
                type: string
                format: uuid
            required:
            - name
            - path
            - uploadedAt
            - uploadedBy
        comment:
          type: string
          nullable: true
          example: User generated info about the offer
        state:
          type: string
          description: The current state of the offer
          readOnly: true
          enum:
          - draft
          - submitted
        stateTransitions:
          type: array
          readOnly: true
          items:
            type: object
            readOnly: true
            required:
            - originalState
            - targetState
            - transitionedAt
            - transitionedBy
            - comment
            additionalProperties: false
            properties:
              originalState:
                type: string
                example: state1
              targetState:
                type: string
                example: state2
              transitionedAt:
                type: string
                format: date-time
              transitionedBy:
                type: string
                format: uuid
              comment:
                type: string
                nullable: true
                example: Additional user generated info about the transition
        _meta:
          type: object
          readOnly: true
          required:
          - createdAt
          - createdBy
          - modifiedAt
          - modifiedBy
          - revisionedAt
          - revisionedBy
          - archivedAt
          - archivedBy
          - _links
          additionalProperties: false
          properties:
            createdAt:
              type: string
              format: date-time
              nullable: true
            createdBy:
              type: string
              format: uuid
            modifiedAt:
              type: string
              format: date-time
              nullable: true
            modifiedBy:
              type: string
              format: uuid
            revisionedAt:
              type: string
              format: date-time
              nullable: true
            revisionedBy:
              type: string
              format: uuid
            archivedAt:
              type: string
              format: date-time
              nullable: true
            archivedBy:
              type: string
              format: uuid
            _links:
              type: object
              readOnly: true
              properties:
                self:
                  type: object
                  additionalProperties: false
                  properties:
                    href:
                      type: string
                      example: https://api.server.com/v1/projects/5d4470a6-121b-40d2-aff9-00f24aa4a110
                  required:
                  - href
              additionalProperties: false
        _links:
          type: object
          readOnly: true
          properties:
            self:
              type: object
              additionalProperties: false
              properties:
                href:
                  type: string
                  example: https://api.server.com/v1/projects/5d4470a6-121b-40d2-aff9-00f24aa4a110
              required:
              - href
          additionalProperties: false
        _embedded:
          type: object
          required:
          - project
          additionalProperties: false
          properties:
            project:
              type: array
              minItems: 1
              items:
                type: object
                additionalProperties: false
                properties:
                  projectId:
                    type: string
                    format: uuid
                  customerId:
                    type: string
                    format: uuid
                  attachments:
                    type: array
                    description: Array of file attachments
                    items:
                      type: object
                      nullable: true
                      description: File attachment details
                      additionalProperties: false
                      properties:
                        name:
                          type: string
                          description: Human readable file name
                          example: example.pdf
                        path:
                          type: string
                          description: Relative file path of the attachment
                          example: /vendors/1234567890/some.pdf
                        uploadedAt:
                          type: string
                          format: date-time
                          description: Date and time of when the attachment was uploaded
                        uploadedBy:
                          type: string
                          format: uuid
                      required:
                      - name
                      - path
                      - uploadedAt
                      - uploadedBy
                  company:
                    type: object
                    additionalProperties: false
                    properties:
                      name:
                        description: name of the company
                        type: string
                        example: Company AY
                      email:
                        description: primary contact email of the company
                        type: string
                        example: mail@server.com
                      phoneNumber:
                        description: primary contact phone number of the company
                        type: string
                        example: +49 (30) 1234567890
                        nullable: true
                      deliveryAddress:
                        type: object
                        additionalProperties: false
                        properties:
                          streetAddress:
                            description: Full street address component, which MAY
                              include house number, street name, Post Office Box,
                              and multi-line extended street address information.
                            type: string
                            example: My Street 123
                            nullable: true
                          postalCode:
                            description: Zip code or postal code component.
                            type: string
                            minLength: 1
                            example: '10119'
                          locality:
                            description: City or locality component.
                            type: string
                            example: Berlin
                            nullable: true
                          region:
                            description: State, province, prefecture, or region component.
                            type: string
                            example: Berlin
                            nullable: true
                          country:
                            description: Country name component.
                            type: string
                            minLength: 1
                            maxLength: 2
                            example: de
                        required:
                        - streetAddress
                        - postalCode
                        - locality
                        - region
                        - country
                    required:
                    - name
                    - email
                    - phoneNumber
                    - deliveryAddress
                  description:
                    type: string
                    example: This is an example project
                    description: A human readable project description
                    nullable: true
                  title:
                    type: string
                    example: Example project
                    description: A custom, human readable project title
                  state:
                    type: string
                    description: The current state of the project
                    readOnly: true
                    enum:
                    - new
                    - active
                    - done
                  stateTransitions:
                    type: array
                    readOnly: true
                    items:
                      type: object
                      readOnly: true
                      required:
                      - originalState
                      - targetState
                      - transitionedAt
                      - transitionedBy
                      - comment
                      additionalProperties: false
                      properties:
                        originalState:
                          type: string
                          example: state1
                        targetState:
                          type: string
                          example: state2
                        transitionedAt:
                          type: string
                          format: date-time
                        transitionedBy:
                          type: string
                          format: uuid
                        comment:
                          type: string
                          nullable: true
                          example: Additional user generated info about the transition
                  _meta:
                    type: object
                    readOnly: true
                    required:
                    - createdAt
                    - createdBy
                    - modifiedAt
                    - modifiedBy
                    - revisionedAt
                    - revisionedBy
                    - archivedAt
                    - archivedBy
                    - _links
                    additionalProperties: false
                    properties:
                      createdAt:
                        type: string
                        format: date-time
                        nullable: true
                      createdBy:
                        type: string
                        format: uuid
                      modifiedAt:
                        type: string
                        format: date-time
                        nullable: true
                      modifiedBy:
                        type: string
                        format: uuid
                      revisionedAt:
                        type: string
                        format: date-time
                        nullable: true
                      revisionedBy:
                        type: string
                        format: uuid
                      archivedAt:
                        type: string
                        format: date-time
                        nullable: true
                      archivedBy:
                        type: string
                        format: uuid
                      _links:
                        type: object
                        readOnly: true
                        properties:
                          self:
                            type: object
                            additionalProperties: false
                            properties:
                              href:
                                type: string
                                example: https://api.server.com/v1/projects/5d4470a6-121b-40d2-aff9-00f24aa4a110
                            required:
                            - href
                        additionalProperties: false
                  _links:
                    type: object
                    readOnly: true
                    properties:
                      self:
                        type: object
                        additionalProperties: false
                        properties:
                          href:
                            type: string
                            example: https://api.server.com/v1/projects/5d4470a6-121b-40d2-aff9-00f24aa4a110
                        required:
                        - href
                    additionalProperties: false
                required:
                - projectId
                - customerId
                - attachments
                - company
                - description
                - title
                - state
                - stateTransitions
                - _meta
                - _links
  securitySchemes:
    authorizer-foobar:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: custom
      x-amazon-apigateway-authorizer:
        type: token
        authorizerUri: arn:aws:apigateway:eu-central-1:lambda:path/1
        authorizerResultTtlInSeconds: 300
x-amazon-apigateway-request-validators: {}
x-amazon-apigateway-minimum-compression-size: 0
